BeautifulSoup==3.2.1
FormEncode==1.2.6
GnuPGInterface==0.3.2
Mako==0.7.1
MarkupSafe==0.15
Momoko==0.5.0
PAM==0.4.2
PIL==1.1.7
PyYAML==3.10
Twisted-Core==12.2.0
Twisted-Names==12.2.0
Twisted-Web==12.2.0
adium-theme-ubuntu==0.3.3
amqp==1.0.6
anyjson==0.3.3
apt-xapian-index==0.44
argparse==1.2.1
billiard==2.7.3.19
boto==2.6.0
celery==3.0.13
chardet==2.0.1
configglue==1.0
debtagshw==0.1
defer==1.0.6
dictshield==0.4.4
dirspec==4.0.0
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.28dev-r0
duplicity==0.6.19
httplib2==0.7.4
kombu==2.5.4
lxml==2.3.5
mongoengine==0.7.9
oauth==1.0.1
oneconf==0.2.9.1
pexpect==2.4
piston-mini-client==0.7.2
postmarkup==1.2.0
protobuf==2.4.1
psycopg2==2.4.6
pyOpenSSL==0.13
pycups==1.9.62
pycurl==7.19.0
pyinotify==0.9.3
pymongo==2.4.1
pyserial==2.5
pysmbc==1.0.13
python-apt==0.8.7ubuntu4
python-dateutil==1.5
python-debian==0.1.21-nmu2ubuntu1
pytz==2012j
pyxdg==0.20
redis==2.7.2
reportlab==2.5
sessioninstaller==0.0.0
simplejson==2.6.1
six==1.1.0
system-service==0.1.6
times==0.6
tornado==2.4.post2
tornado-redis==1.0.1
virtualenv==1.8.4
